
{% extends "base.html" %}

{% block content %}



<div class="row wow fadeIn">
	{% for item in items %}
	<div class="col-lg-3 col-md-6 mb-4">
		<div class="card">
			<div class="view overlay">
				<img src="{{ item.image.url }}" class="card-img-top" alt="">
				<a>
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>
			<div class="card-body text-center">
				<a href="" class="grey-text">
					<h5>Press</h5>
				</a>
				<h3>
				<strong>
					<a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
				</strong>
				</h3>
			<h4 class="font-weight-blod blue-text">
				<strong>{{ item.price }}</strong>
			</h4>

  <a href="{{ item.category.get_category_absolete_url }}">{{ item.category }}</a>



	</div>
	</div>

	</div>
	{% endfor %}

</div>



{% endblock content %}