{% extends "base.html" %}
{% block content %}

<h1>List of Items</h1>


<div class="container-fluid">
<div class="jumbotron">

	<div class="row">
		<div class="col-md-2">
		<div class="display_table">
		<div class="header">Seach Data</div>
		<form method="POST" action="">{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary mybutton" type="submit" value="Search">
		</form>
		<a href="/add_items"><div class="btn btn-primary mybutton">Add Item</div></a>
		</div></div>
		<br>

		<div class="col-md-10">
		<div class="header">List of Items</div>
		<div class="display_table">
		<table class="table">

			<thead>
				<tr>
					<!-- <th>COUNT</th> -->
					<th>CATEGORY</th>
					<th>ITEM NAME</th>
					<th>QUANTITY IN STORE</th>
					<th>RECOARD LEVEL</th>
					<!-- <th>TIMESTAMP</th> -->
					<th>LAST UPDATED</th>
					<th>DELETE</th>
				</tr>
			</thead>
			{% for instance in querySet %}
				<tr>
		

					<!-- <td>{{ forloop.counter }}</td> -->
					<td>{{ instance.category }}</td>
					<td><a href="{% url 'update_items' instance.id %}">{{ instance.item_name }}</a></td>

				<td>
					{% if instance.quantity <= instance.reoder_level %}
					<div style="background-color: orange;">
					<a href="{% url 'stock_details' instance.id %}">
					{{ instance.quantity }}</a></div>
					{% else %}
					<a href="{% url 'stock_details' instance.id %}">
					{{ instance.quantity }}</a>
					{% endif %}
				</td>					

					<td>
						<a href="{% url 'reoder_level' instance.id %}">{{ instance.reoder_level }}</a>
					</td>
					<td>{{ instance.last_updated }}</td>
					<!-- <td>{{ instance.timestamp }}</td> -->
					<td><a href="{% url 'delete_items' instance.id %}"><img src="../static/n.png" style="width: 25px;"></a>
					</td>
				</tr>

			{% endfor %}
			</table>
			</div>
		</div>
</div>
</div>
</div>
</main>
{% endblock content %}