{% extends "base.html" %}

{% block content %}

<h2>Wise wsie</h2>

<h3>{{ instance.title }}</h3>

<p class="lead">
	{% if instance.discount_price %}
	<span class="mr-1">
		<del>${{ instance.price }}</del>
	</span>
	<span>${{ instance.discount_price }}</span>
	{% else %}
	<span>${{ instance.price }}</span>
</p>

<h3>{{ instance.price }}</h3>
{% endif %}
<a href="{{ instance.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
	Add to Cart
	<i class="fas fa-shopping-cart ml-1"></i>

</a>

<a href="{{ instance.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
	Remove to Cart
	<i class="fas fa-shopping-cart ml-1"></i>

</a>

  <div class="row">
    {% for category in show %}

      <div class="col-md-2">
        <div class="card mb-2">
       <div class="view overlay">
          <div class="image">

          <img src="{{ category.image.url }}" class="card-img-top" alt=""> 

            <a href="{{ category.get_absolute_url }}">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">Ksh {{ category.price }}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <!--/.Third slide-->
  </div>
  <!--/.Slides-->
{% endblock content %}