{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="jumbotron">
	<div class="header">{{ title }}</div>
		<a href="{% url 'issue_items' queryset.id %}"><div class="btn btn-danger">
			ISSUE THIS ITEM</div></a>

		<a href="{% url 'receive_items' queryset.id %}"><div class="btn btn-primary">
			RECEIVE THIS ITEM</div></a>
			<br/><br/>
		<div class="display_table">
		<table class="table">
			<tr>
				<th>ITEM NAME</th>
				<th>QUATITY</th>
				<th>LAST UPDATE</th>
				<th>RECORDED LEVEL</th>
			</tr>
				<td>{{ queryset.item_name }}</td>
				<td>{{ queryset.quantity }}</td>
				<td>{{ queryset.last_updated }}</td>
				<td>{{ queryset.reoder_level }}</td>
		</table>
	</div>
</div>


{% endblock content %}